<template>
  <div>
    <v-col class="d-flex" cols="12" sm="12">
      <v-col class="d-flex" cols="12" sm="4">
        <v-row align="start">
          <v-select
            :items="patients"
            @change="getDisplayedDrugs"
            v-model="patient"
            label="Selected Patient"
            outlined
          ></v-select>
        </v-row>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="d-flex" cols="12" sm="4">
        <v-row align="start">
          <v-spacer></v-spacer>
          <v-btn class="primary--text" text @click="reset">Reset Data</v-btn>
        </v-row>
      </v-col>
    </v-col>
    <v-data-table
      :headers="headers"
      :items="displayedDrugs"
      :search="search"
      :expanded.sync="expanded"
      item-key="name"
      sort-by="name"
      show-expand
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Drugs</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="secondary"
                outlined
                class="mb-2"
                v-bind="attrs"
                v-on="on"
                >Add New Drug</v-btn
              >
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.name"
                        label="Drug Name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.manufacturer"
                        label="Manufacturer"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        v-model="editedItem.ndc"
                        label="NDC"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="6" md="6">
                      <v-text-field
                        v-model="editedItem.rx"
                        label="Rx #"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="12" md="12">
                      <v-text-field
                        v-model="editedItem.directions"
                        label="Directions"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="secondary" text @click="close">Cancel</v-btn>
                <v-btn color="primary" @click="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template #[`item.actions`]="{ item }">
        <v-icon class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:expanded-item="{ headers, item }">
        <td class="primary--text" :colspan="headers.length">
          <strong>DIRECTIONS:</strong> {{ item.directions }}
        </td>
      </template>
    </v-data-table>
    <v-col class="d-flex" cols="12" sm="12">
      <v-spacer />
      <v-dialog v-model="labelDialog" max-width="700px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" class="mb-2" v-bind="attrs" v-on="on"
            >Create Label</v-btn
          >
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Create Label for {{ this.patient }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row dense>
                <v-col cols="12" sm="6" md="6">
                  <v-date-picker
                    no-title
                    color="primary"
                    v-model="dates"
                    range
                  ></v-date-picker>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-row>
                    <v-text-field
                      v-model="dateRangeText"
                      label="Date Range"
                      filled
                      dense
                      readonly
                    ></v-text-field>
                  </v-row>
                  <v-row>
                    <v-radio-group v-model="groupBy" mandatory>
                      <v-radio label="Time Pass" value="timePass"></v-radio>
                      <v-radio label="Weekly" value="weekly"></v-radio>
                    </v-radio-group>
                  </v-row>
                  <v-row>
                    <v-select
                      :items="cardTypes"
                      v-model="cardType"
                      label="Card Type"
                      outlined
                    ></v-select>
                  </v-row>
                  <v-row>
                    <v-select
                      :items="filteredLabelTypes"
                      :disabled="labelDisabled"
                      item-text="text"
                      v-model="labelType"
                      label="Label Type"
                      outlined
                    ></v-select>
                  </v-row>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="secondary" text @click="closeLabel">Cancel</v-btn>
            <v-btn color="primary" :disabled="createDisabled" @click="saveLabel"
              >Create</v-btn
            >
          </v-card-actions>
        </v-card> </v-dialog
      ><v-dialog
        v-model="showLabel"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card>
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="showLabel = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Label Pdf</v-toolbar-title>
          </v-toolbar>
          <div v-if="loading">
            <v-overlay :value="loading" opacity="0.7" absolute>
              <v-progress-circular
                indeterminate
                size="256"
                color="primary"
              ></v-progress-circular>
            </v-overlay>
          </div>
          <div v-else>
            <v-col cols="12" sm="12">
              <iframe
                style="top: 0px; width: 100%; height: 100vh"
                :src="pdfUrl"
                type="application/pdf"
              />
            </v-col>
          </div>
        </v-card>
      </v-dialog>
    </v-col>
  </div>
</template>

<script>
// import VuePdf from "@/components/VuePdf";
import axios from "axios";

export default {
  // components: {
  //   VuePdf,
  // },
  data() {
    return {
      expanded: [],
      search: "",
      dialog: false,
      labelDialog: false,
      showLabel: false,
      headers: [
        {
          text: "Drug Name",
          align: "start",
          filterable: true,
          value: "name",
        },
        { text: "Manufacturer", value: "manufacturer" },
        { text: "NDC", value: "ndc" },
        { text: "Rx #", value: "rx" },
        { text: "Actions", value: "actions", sortable: false },
        { text: "", value: "data-table-expand" },
      ],
      cardType: "",
      cardTypes: [],
      dates: [],
      drugs: [],
      displayedDrugs: [],
      groupBy: "",
      pdfUrl: null,
      errored: "",
      loading: true,
      labelType: "",
      labelTypes: [],
      patients: [],
      patient: "",
      adam: [],
      joe: [],
      sonal: [],
      timepass: "",
      editedIndex: -1,
      editedItem: {
        name: "",
        manufacturer: "",
        ndc: "",
        rx: "",
        directions: "",
      },
      defaultItem: {
        name: "",
        manufacturer: "",
        ndc: "",
        rx: "",
        directions: "",
      },
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Drug" : "Edit Drug";
    },

    dateRangeText() {
      return this.dates.join(" through ");
    },

    styling() {
      return "width:100%; height" + 800 + "px;";
    },

    pdfSource() {
      if (this.patient == "Adam Bray")
        return "https://omnicellwebapi2.azurewebsites.net/api/medadherence/getfilebyname/30196adam.pdf";
      else if (this.patient == "Joe DiVecchio")
        return "https://omnicellwebapi2.azurewebsites.net/api/medadherence/getfilebyname/30296joe.pdf";
      else if (this.patient == "Sonal Prabhune")
        return "https://omnicellwebapi2.azurewebsites.net/api/medadherence/getfilebyname/30096sonal.pdf";
      return "";
    },

    filteredLabelTypes() {
      var filter = this.cardType.slice(0, 5);
      return this.labelTypes.filter((label) => label.cardType === filter);
    },

    labelDisabled() {
      return this.cardType === "";
    },

    createDisabled() {
      return (
        this.cardType === "" ||
        this.labelType === "" ||
        !this.dateRangeText.includes("through")
      );
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.patients = ["Adam Bray", "Joe DiVecchio", "Sonal Prabhune"];
      if (!localStorage.getItem("drugs")) {
        this.initializeDrugs();
        this.saveDrugs();
      } else {
        this.loadDrugs();
      }
      this.patient = this.patients[0];
      this.getDisplayedDrugs();

      this.cardTypes = [
        {
          text: "300-96 30-Dose",
          value: "30096",
        },
        {
          text: "301-96 SureMed Plus",
          value: "30196",
        },
        {
          text: "302-96 SureMed Standard",
          value: "30296",
        },
      ];

      this.labelTypes = [
        {
          text: "300-96 Standard",
          value: "30096-std",
          cardType: "30096",
        },
        {
          text: "301-96 SureMed Plus Standard",
          value: "30196-std",
          cardType: "30196",
        },
        {
          text: "301-96 SureMed Plus Large Font",
          value: "30196-lf",
          cardType: "30196",
        },
        {
          text: "301-96 SureMed 28-Dose",
          value: "30196-28dose",
          cardType: "30196",
        },
        {
          text: "301-96 SureMed 28-Dose Horizontal",
          value: "30196-30dose-horiz",
          cardType: "30196",
        },
        {
          text: "302-96 SureMed 30-Dose Vertical",
          value: "30296-30dose-vert",
          cardType: "30296",
        },
        {
          text: "302-96 SureMed 30-Dose Horizontal",
          value: "30296-30dose-horiz",
          cardType: "30296",
        },
      ];
    },

    initializeDrugs() {
      this.drugs = [
        {
          name: "Atenolol 50 mg tablet",
          manufacturer: "Zydus Pharmaceutical",
          ndc: "68382002310",
          rx: "06093967",
          directions: "Take ONCE daily.",
        },
        {
          name:
            "Calcium Carbonate 600 mg (1,500 mg) - vitamin D3 400 unit tablet",
          manufacturer: "Major Pharmaceutical",
          ndc: "00904323392",
          rx: "06089442",
          directions: "Take ONCE daily.",
        },
        {
          name: "Hydroxychloroquine 200 mg tablet",
          manufacturer: "Ranbaxy/Sun Pharmaceutical",
          ndc: "63304029601",
          rx: "06089444",
          directions: "Take ONCE daily.",
        },
        {
          name: "Lisinopril 20 mg tablet	",
          manufacturer: "Solco Healthcare",
          ndc: "43547035411",
          rx: "06095036",
          directions: "Take ONCE daily.",
        },
        {
          name: "Nifedipine ER 30 mg tablet,extended release 24 hr",
          manufacturer: "TWI Pharmaceutical",
          ndc: "24979001101",
          rx: "06077023",
          directions: "Take ONCE daily.",
        },
        {
          name: "Pantoprazole 40 mg tablet,delayed release",
          manufacturer: "Mylan",
          ndc: "00378668910",
          rx: "06077024",
          directions: "Take ONCE daily.",
        },
        {
          name: "Renal Caps 1 mg capsule",
          manufacturer: "Cypress Pharmaceutical",
          ndc: "60258016201",
          rx: "06089443",
          directions: "Take ONCE daily.",
        },
        {
          name: "Sevelamer carbonate 800 mg tablet",
          manufacturer: "Impax/Amneal",
          ndc: "00115130927",
          rx: "06098511",
          directions: "Take ONCE daily.",
        },
        {
          name: "Stool Softener 100 mg capsule",
          manufacturer: "Rugby",
          ndc: "00536106210",
          rx: "06089441",
          directions: "Take ONCE daily.",
        },
        {
          name: "Amlodipine 5 mg tablet	",
          manufacturer: "Zydus Pharmaceutical",
          ndc: "68382012205",
          rx: "06111280",
          directions: "Take ONCE daily.",
        },
        {
          name: "Cholecalciferol (vitamin D3) 125 mcg (5,000 unit) capsule",
          manufacturer: "Mason Distribution",
          ndc: "11845015339",
          rx: "06130387",
          directions: "Take ONCE daily.",
        },
        {
          name: "Lovastatin 10 mg tablet",
          manufacturer: "Carlsbad Tech",
          ndc: "61442014160",
          rx: "06111276",
          directions: "Take ONCE daily.",
        },
        {
          name: "Nabumetone 500 mg tablet",
          manufacturer: "Glenmark Pharmaceutical",
          ndc: "68462035805",
          rx: "06135636",
          directions: "Take ONCE daily.",
        },
        {
          name: "Propranolol 80 mg tablet",
          manufacturer: "Impax/Amneal",
          ndc: "00115166201",
          rx: "06158579",
          directions: "Take ONCE daily.",
        },
        {
          name: "Raloxifene 60 mg tablet	",
          manufacturer: "Dr. Reddy's Lab",
          ndc: "43598050501",
          rx: "06111282",
          directions: "Take ONCE daily.",
        },
      ];
      this.adam = this.drugs.slice(0, 7);
      this.joe = this.drugs.slice(4, 12);
      this.sonal = this.drugs.slice(8, this.drugs.length);
    },

    getDisplayedDrugs() {
      if (this.patient === "Adam Bray") this.displayedDrugs = this.adam;
      else if (this.patient === "Joe DiVecchio") this.displayedDrugs = this.joe;
      else if (this.patient === "Sonal Prabhune")
        this.displayedDrugs = this.sonal;
      else this.displayedDrugs = [];
    },

    saveDrugs() {
      if (this.patient === "Adam Bray") this.adam = this.displayedDrugs;
      else if (this.patient === "Joe DiVecchio") this.joe = this.displayedDrugs;
      else if (this.patient === "Sonal Prabhune")
        this.sonal = this.displayedDrugs;
      localStorage.setItem("drugs", JSON.stringify(this.drugs));
      localStorage.setItem("adam", JSON.stringify(this.adam));
      localStorage.setItem("joe", JSON.stringify(this.joe));
      localStorage.setItem("sonal", JSON.stringify(this.sonal));
    },

    loadDrugs() {
      this.drugs = JSON.parse(localStorage.getItem("drugs"));
      this.adam = JSON.parse(localStorage.getItem("adam"));
      this.joe = JSON.parse(localStorage.getItem("joe"));
      this.sonal = JSON.parse(localStorage.getItem("sonal"));
    },

    editItem(item) {
      this.editedIndex = this.drugs.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.displayedDrugs.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.displayedDrugs.splice(index, 1);
      this.saveDrugs();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeLabel() {
      this.labelDialog = false;
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.displayedDrugs[this.editedIndex], this.editedItem);
      } else {
        this.displayedDrugs.push(this.editedItem);

        this.saveDrugs();
      }
      this.close();
    },

    saveLabel() {
      this.closeLabel();
      this.showLabel = true;
      this.callApi();
    },

    callApi() {
      var patientName = this.patient.split(" ");
      var date = this.dateRangeText.split(" through ");
      var dto = {
        firstName: patientName[0],
        lastName: patientName[1],
        drugs: this.displayedDrugs.map((drug) => drug.ndc),
        fromDate: date[0],
        toDate: date[1],
        cardType: this.cardType,
        labelType: this.labelType,
      };
      this.loading = true;
      axios(
        {
          url:"https://omnicellwebapi2.azurewebsites.net/api/medadherence/getfile/",
          method: "POST",
          responseType: "blob",
          data: dto
        }
      )
        .then((response) => {
          var blob = new Blob([response.data], { type: "application/pdf" });
          this.pdfUrl = window.URL.createObjectURL(blob);
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },

    reset() {
      this.initializeDrugs();
      this.getDisplayedDrugs();
      this.saveDrugs();
    },
  },
};
</script>