<template>
  <v-container>
    <v-row class='text-center'>
      <v-col cols='12'>
        <v-img
          :src='require("../assets/cloud.svg")'
          contain
          height='200'
        />
      </v-col>

      <v-col class='mb-4'>
        <h1 class='display-2 font-weight-bold mb-3'>
          Welcome to Project Cirrus
        </h1>

        <p class='subheading font-weight-regular'>
          Joe DiVecchio, Sonal Prabhune, Adam Bray
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
    
}
</script>