<template>
  <vue-pdf-app pdf="https://omnicellwebapi2.azurewebsites.net/api/medadherence/getfilebyname/30196adam.pdf"></vue-pdf-app>
</template>


<script>
import VuePdfApp from "vue-pdf-app";
// import this to use default icons for buttons
import "vue-pdf-app/dist/icons/main.css";

export default {
  components: {
    VuePdfApp
  }
};
</script>