<template>
  <div>
    <v-app-bar app clipped-left color="primary" dense dark>
      <v-app-bar-nav-icon @click="mini = !mini"></v-app-bar-nav-icon>
      <v-toolbar-title>Project Cirrus</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="toggleTheme" color="white" icon>
        <v-icon>mdi-brightness-4</v-icon>
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer
      app
      clipped
      permanent
      :mini-variant="mini"
    >
      <v-list>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link
          :to="item.href"
        >
          <v-list-item-icon>
            <v-icon color="primary">{{ item.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="primary--text">{{
              item.title
            }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  name: "NavMenu",
  data: () => ({
    mini: true,
    group: null,
    items: [
      { title: "Home", href: "/", icon: "mdi-home" },
      { title: "Demo", href: "/demo", icon: "mdi-medical-bag" },
      // { title: "Pdf", href: "/pdf", icon: "mdi-file-document" },
    ],
  }),
  methods: {
    toggleTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
      localStorage.setItem("darkTheme", this.$vuetify.theme.dark.toString());
    },
  },
};
</script>