<template>
<div>
  <vue-pdf-app pdf="https://omnicellwebapi2.azurewebsites.net/api/medadherence/getfilebyname/30196adam.pdf"></vue-pdf-app>
</div>
</template>

<script>
export default {
  name: "VuePdf"
};
</script>
