<template>
  <v-app>
    <NavMenu />
    <v-main>
      <v-container class="px-4 py-0 fill-height" fluid>
        <v-row class="fill-height">
          <v-col>
            <!-- <transition type="fade" > -->
              <router-view></router-view>
            <!-- </transition> -->
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-footer
      absolute
      class="py-0 secondary--text">
      <span class="ml-auto overline">Omnicell &copy;2021</span>
    </v-footer>
  </v-app>
</template>

<style>
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>

<script>
import NavMenu from "./components/NavMenu";

export default {
  name: "App",

  components: {
    NavMenu,
  },

  data: () => ({
    //
  }),
};
</script>